<div class="bg fh tac">
  <div class="w3-card cardContainer">

    <header class="w3-container w3-blue">
      <h1>Find me if you can</h1>
    </header>

    <div class="w3-container w3-white">
      <p>The closer you look, the less you see. Find me in this window and this will lead you, a step, closer to your
        victory!
      </p>
      <!--  <p>
        <button class="w3-btn w3-hover-green" (click)="showHint1()">Hint 1</button>
      </p>
      <p *ngIf="showHint1Msg">
        The browser comes in with a lot of tools!
        <span class="fr cl" (click)="close(1)">X</span>
      </p>
      <p>
        <button class="w3-btn w3-hover-amber" (click)="showHint2()">Hint 2</button>
      </p>
      <p *ngIf="showHint2Msg">
        Need a hint
        <span class="fr cl" (click)="close(2)">X</span>
      </p>
      <p>
        <button class="w3-btn w3-hover-red" (click)="showHint3()">Hint 3</button>
      </p>
      <p *ngIf="showHint3Msg">
        Why don't you try inspecting elements?
        <span class="fr cl" (click)="close(3)">X</span>
      </p> -->
    </div>

    <footer class="w3-container w3-blue" id="http://localhost:4200/doyoulikechess">
      <!-- <h5>Footer</h5> -->
    </footer>

  </div>
</div>