<div class="bg fh tac">
  <div class="noisrevnoc">
    <font>Is that a phone number?</font><br>
    <font>Or is it something that you cant remember?</font><br>
    <font>Ahh yes! It has something to do with Calsoft.</font><br>
    <font>Very much similar to the game kept in the loft.</font><br>
    <font class="number">3232351943</font>

  </div>
  <img class="router" src="../../../assets/images/wireless_router.png" height="200" width="233">
  <img class="wlan" src="../../../assets/images/wlan.png" height="180" widht="200">
  <img class="server" src="../../../assets/images/server.png" height="250" width="250">
  <img class="hub" src="../../../assets/images/server_hub.png" height="275" width="200">
  <img class="switch" src="../../../assets/images/switch.png" height="200" width="400">
</div>