.bg {
    background-image: url(../../../assets/images/code.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.number {
    font-family: serif;
    font-size: xx-large;
}

.noisrevnoc {
    position: relative;
    top: 36%;
    font-size: 26px;
    font-family: cursive;
}

@media only screen and (max-width: 1660px) {
  .noisrevnoc {
    font-size: 20px;
  }

  .server {
    top: 3% !important;
  }

  .router {
      right: 10% !important;
  }
}

.router {
    float: right;
    position: relative;
    right: 20%;
}

.wlan {
    position: absolute;
    left: 20%;
    top: 40%;
}

.server {
    position: absolute;
    top: 4%;
}

.hub {
    position: absolute;
        bottom: 3%;
    left: 39%;
}

.switch {
        position: absolute;
    top: 70%;
    left: 60%;
}