<div class="bg fh tac" preventRightClick>
  <div class="ruleContainer">
    <div>
      <h4>What has to be done?</h4>
      <ul class="points">
        <li>You need to find clues to proceed to the next page</li>
        <li>The clues are endpoints to the links you will be using for navigating different pages</li>
        <li>You will have to remove the previous endpoint and append the new ones in-order to proceed to the next page
        </li>
        <li>These endpoints are of type string and they could be a hint for the puzzle that you are solving at present
        </li>
      </ul>
    </div>
    <div>
      <h4>What if you get stuck?</h4>
      <ul class="points">
        <li>You will be provided with a hint every 5 minutes by the moderators</li>
        <li>The relevance for the answer increases everytime a hint is given away</li>
      </ul>
    </div>
    <div>
      <h4>What is the duration?</h4>
      <ul class="points">
        <li>You will have to find 11 endpoints/clues, so its 11 pages.</li>
        <li>You dont have the whole day at your disposal do you? So 2 hours it is!</li>
      </ul>
    </div>
  </div>
  <a (click)="proceed()" class="proceed">Are you worthy to proceed?</a>
  <div class="cover" (click)="giveHint()"></div>
</div>