<div class="bg fh tac">

  <!-- <div class="w3-card cardContainer">

    <header class="w3-container w3-blue">
      <h1>TTH</h1>
    </header>

    <div class="w3-container w3-white">
      <p>Rules
      </p>
      <ul class="tal">
        <li>Rule 1</li>
        <li>Rule 2</li>
        <li>Rule 3</li>
      </ul>

      <p>
        <button class="w3-btn w3-grey" (click)="goToHomePage()">Proceed</button>
      </p>

    </div>

    <footer class="w3-container w3-blue">
    </footer>

  </div> -->
</div>