<div class="fh tac lsContainer bg">
  <section class="fh questContainer questBG" style=" float:right">
    <div class="question">
      Hidden to a user but visible to the developers. <br>
      You'll find the answer here, inorder to beat your competitors.
    </div>
  </section>
  <section class="fh buttonContainer">
    <button class="btn1Container w3-btn w3-black">Hint 1</button>
    <button class="btn2Container w3-btn w3-grey">Hint 2</button>
    <button class="btn3Container w3-btn">Hint 3</button>
  </section>
</div>