.bg {
    background-image: url(../../../assets/images/ship.jpg);
     background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

.seaways {
    font-size: 22px;
    color: cornflowerblue;
    font-family: cursive;
    position: absolute;
    top: 6%;
}

.tip {
        bottom: 0%;
    position: absolute;
    right: 1%;
    color: cadetblue;
}