.bg {
    background-image: url(../../../assets/images/code.jpg);
     background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

.number {
        font-family: serif;
    font-size: xx-large;
}

.noisrevnoc {
    position: relative;
top: 36%;
}