.bg {
    background-image: url(../../../assets/images/packetCapture.jpg);
     background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}


.emailText {
    color: darkturquoise;
}
.monitorText {
    position: relative;
    width: 440px;
    margin: auto;
    top: 70%
}

@media only screen and (max-width: 1366px) {
  .monitorText {
    position: relative;
    width: 310px;
    margin: auto;
    top: 67%
  }

  .answerMail {
      bottom: 12% !important;
  }
}

.answerMail {
        bottom: 5%;
    position: absolute;
    right: 10%;
}