.bg {
    background-image: url(../../../assets/images/chessbg.jpg);
     background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

.code {
    display: inline;
    top: 10%;
    position: absolute;
}

.chessImages {
    top: 250px;
    position: relative;
}

.link {
    top: 100px;
    position: relative;
}

.linkFont {
    font-size: 32px;
    font-family: monospace;
    color: #f3dba3;
}

.chessImage {
width: 100%;
  height: auto;
    display: block;
    top: 30%;
    position: absolute;
}

.responsive {
  
    max-width: 500px;
    left: 5%;
}

.responsivec {
   margin-left: 50px;
    max-width: 550px;
    right: 5%;
}

.futureClue {
        display: block;
    bottom: 10%;
    position: absolute;
    width: 100%;
        font-family: webdings;
        font-size: xx-large;
}

@media only screen and (max-width: 1366px) {
  .futureClue {
    font-size: x-large;
  }
}