/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

.fh {
    height: 100%;
}

.tac {
    text-align: center
}

.fr {
    float: right
}

.cl {
    cursor: pointer;
}

.cardContainer {
    position: relative;
    width: 50%;
    display: inline-block;
    top: 37%;
}